{% extends 'base.html.twig' %}


{% block body %}



    <div class="content">
        {% include 'msg.html.twig' %}
        <div style="display: flex; align-items: center; justify-content: space-between">

            <h1 style="margin-right: 20px">Liste des Regime</h1>
            <button data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-outline-success" style="width: 100px"><i class="nc-icon nc-simple-add" style="font-size: 28px"></i></button>
        </div>
        <form>
            <div class="input-group no-border">

                <script src="{{ asset('back/js/jquery.min.js') }}"></script>
                <div class="input-group no-border">
                    <center><input type="text" id="search" class="form-control" placeholder="Search "></center>
                    <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split"></i>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <table class="table table-bordered dataTable" id="tableac" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">


            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Exemple Regime</th>
                <th scope="col">détail Regime</th>


                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>


            <tr {% for n in regime %}>
                <td >{{ n.type }}</td>
                <td> <img style="width: 100px" src="{{ asset('uploads/' ~ n.image) }}"> </td>
                <td ><a href="{{ asset('uploads/brochures/' ~ n.description) }}">détail regime (PDF)</a>
                </td>
                <td><div style="display: flex">

                        <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModal{{ n.id }}" style="margin-right: 10px"><i class="nc-icon nc-settings"></i></button>

                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ n.id }}"><i class="nc-icon nc-simple-delete"></i></button>

                    </div>
                </td>
            </tr>

            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found == 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ n.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <br>
                            <h5 class="modal-title" id="exampleModalLabel">Voulez vous supprimer regime{{ n.type }}</h5>
                            <br>
                            <div style="text-align: center">
                                <a type="button" href="{{ path('delete_regime', {'id':n.id}) }}" class="btn btn-danger">Supprimer</a>
                                <a type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</a>
                            </div>
                            <br>
                        </div>

                    </div>
                </div>
            </div>


            <!--  Update Modal -->
            <div class="modal fade" id="updateModal{{ n.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method="post" action="{{ path('update_regime', {'id':n.id}) }}" enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modifier Regime </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <br>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="form__label">Type regime</label>
                                        <select class="custom-select rounded-0" name="type">
                                            <option value="{{  n.type  }}" selected>{{  n.type  }}</option>
                                            <option value="" selected> </option>
                                            <option value="Mincisseur" selected>Mincisseur</option>
                                            <option value="Prise De Masse" selected>Prise De Masse</option>
                                        </select>
                                    </div>
                                <br>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label class="form__label">Exemple Regime</label>
                                            <input type="file" name="image" class="form-control">
                                        </div>
                                    </div>
                                <br>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <a href="{{ asset('uploads/brochures/' ~ n.description) }}">détail regime (PDF)</a>
                                            <input type="file" name="description" class="form-control">
                                        </div>
                                    </div>


                                <br>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                    <button type="button" class="btn btn-secondary">Fermer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% endfor %}
            </div>
            </tbody>

        </table>
    </div>


    </table>

    <div class="navigation">
        {{ knp_pagination_render(regime) }}
    </div>
    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un Nouvelle Nutritionniste</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Type regime</label>
                            {{ form_widget(form.type, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">Exemple Regime</label>
                            {{ form_widget(form.image, {'attr': { 'class':'form-control'}}) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="form__label">détail regime (PDF)</label>
                            {{ form_widget(form.description, {'attr': { 'class':'form-control'}}) }}
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
